<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>
    <a href="{% url 'author_create' %}">Add</a>
        <ul>
            {% for author in authors %}
                <li>
                    <a href={% url 'author_detail' author.id%}>
                        {{ author.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    <p><a href="/">← Back to Home</a></p>
</body>
</html>